{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block stylesheet %}
	<link
		rel="stylesheet"
		href="./assets/css/output.css">
{% endblock %}

{% block body %}
	{% include "components/navbar.html.twig" %}
	<h1
		class="text-center mt-96 text-6xl font-bold">Bienvenue dans Le Sanctuaire
	</h1>
{% endblock %}
