@import "tailwindcss";

.card {
  @apply flex flex-col gap-4 h-full bg-white/80 rounded-xl p-3 shadow-xl shadow-emerald-700/40 cursor-pointer transition
        ease-in-out duration-200 hover:scale-105 hover:shadow-emerald-700/60 hover:ring-1 ring-emerald-700;
}

.input {
  @apply text-2xl border border-neutral-400 p-1 rounded-lg bg-neutral-100;
}

.boutton {
  @apply p-2 px-5 rounded-2xl shadow-lg shadow-black/50 cursor-pointer transition duration-200 hover:scale-110 hover:text-white;
}

.card > h2 {
  @apply text-2xl font-bold;
}

.card > p {
  @apply text-lg;
}

.livre > h2 {
  @apply text-5xl font-bold;
}

.livre > p {
  @apply text-2xl;
}
