{% extends "base.html.twig" %}

{% block title %}Livres{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="./src/css/output.css">
{% endblock %}

{% block body %}
  {{ include("components/navbar.html.twig") }}
  <main class="w-8/10 m-auto grid grid-cols-3 my-10 gap-20">
    <article class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolore impedit ex quisquam, dolorem magni accusamus. Ea
      placeat, in dicta debitis labore similique ex ipsam magnam impedit eum, eos deserunt.
      <div class="flex">
        <h3 class="text-2xl font-semibold">Auteur</h3>
        <span class="ml-auto text-xl italic">Année</span>
      </div>
      <span class="italic">Catégorie</span>
    </article>
    <article class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolore impedit ex quisquam, dolorem magni accusamus. Ea
      placeat, in dicta debitis labore similique ex ipsam magnam impedit eum, eos deserunt.
    </article>
    <article class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolore impedit ex quisquam, dolorem magni accusamus. Ea
      placeat, in dicta debitis labore similique ex ipsam magnam impedit eum, eos deserunt.
    </article>
    <article class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolore impedit ex quisquam, dolorem magni accusamus. Ea
      placeat, in dicta debitis labore similique ex ipsam magnam impedit eum, eos deserunt.
    </article>
    <article class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolore impedit ex quisquam, dolorem magni accusamus. Ea
      placeat, in dicta debitis labore similique ex ipsam magnam impedit eum, eos deserunt.
    </article>
    <article class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolore impedit ex quisquam, dolorem magni accusamus. Ea
      placeat, in dicta debitis labore similique ex ipsam magnam impedit eum, eos deserunt.
    </article>
  </main>
{% endblock %}
