<header>
	<nav
		class="bg-emerald-600 p-5 flex items-center gap-20 text-white">
		<a
			href="/">
			<h2
				class="text-4xl font-bold whitespace-nowrap">Le Sanctuaire
			</h2>
		</a>
		<ul
			class="flex w-full gap-5 text-2xl">
			<li>
				<a
					href="/livres">Livres
				</a>
			</li>
			<li>
				<a
					href="/auteurs">Auteurs
				</a>
			</li>
			<li
				class="ml-auto">
				<a
					href="">Se connecter
				</a>
			</li>
		</ul>
	</nav>
</header>
